{% extends "./base.html" %}
{% load static %}
{% block body_block %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                
                  <h1 class="text-center"> Contact Us </h1>
                  <br/>
                  <p class="lead font-weight-normal">
Ideas, inquiries, or partnerships? We'd love to hear from you.</p>
<p class="lead font-weight-normal">
If you're interested in learning more about CMCC, or how you or a loved one can enroll in treatment, learn more about our options to Get Started.
</p>
<p class="lead font-weight-normal">
If you are a current CMCC participant, contact us here #.
                </p>

                  </div>
                  <div class="col-md-2">                    
                  </div>
              </div>
            </div>
          </div>
        </div>

       
          <div class="container">
            <div class="row">
              <div class="col-md-2"></div>
                <div class="col-md-8">
                  
                    
                    <br/>
                 
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Name</label>
                      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="First and Last Name">
                    </div>
                  
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
  
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Subject</label>
                      <input type="subject" class="form-control" id="exampleFormControlInput1">
                    </div>
                  
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <button type="button" class="btn btn-dark btn-lg btn-block">Submit</button>
                        </form>
  
                    </div>
                    <div class="col-md-2">                    
                    </div>
                </div>
              </div>
            </div>
          </body>
{% endblock %}
