{% extends "./base.html" %}
{% load static %}
{% block body_block %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">CMCC products</h1>
    <p class="lead font-weight-normal">Holistic individual health. Identifying, addressing, and improving the member/patient’s overall medical, lifestyle/behavioral, socioeconomic, cultural, financial, educational, geographic, and environmental well-being for a frictionless and connected healthcare experience.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Visit Connect</h2>
        <p class="lead">..........</p>
      </div>
      <div class="bg-light mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Telephonic Case Management</h2>
        <p class="lead"> For Medicaid beneficiaries</p>
      </div>
      <div class="bg-dark mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">My Mood</h2>
        <p class="lead">All work and no play makes me a dull boy</p>
      </div>
      <div class="bg-light mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>


{% endblock %}